body {
  background-color: black ;
  margin: 1rem;
  font-family: 'Open Sans', sans-serif;
}

#navLink {
  color: black;
  border-style: solid;
  border-radius: .3rem;
  text-decoration: none;
  margin: .5rem;
  border-width: .2rem;
  padding: .5rem;
  background-color: white;
  font-size: 13.5px;
  text-align: center;
}


#info-icon {
  font-size: 1.4em;
  color: black;
}

i {
  font-size: 2em;
  padding-left: 2rem;
}

#delete-flight-icon {
  font-size: 1em;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav {
  background-color: yellow;
  border-radius: 1rem;
  text-align: right;
  display: flex;
  justify-content: 
  center;
  align-items: center;

}

main {
  background-color: yellow;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: 
  center;
  align-items: center;
  margin-top: 1rem;
  height:fit-content;
  font-size: 20px;
  padding-bottom: 2rem;
}


table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}

button {
  background-color: white;
  color: black;
  border-style: solid;
  border-radius: .3rem;
  border-width: .2rem;
  border-color: black;
}

#add-meal-form {
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.meals-added {
  background-color: white;
  font-size: 15px;
  border-radius: 2rem;
  width: 70%;
  border-style: solid;
  border-color: black;
}

#name-input {
  border-radius: .3rem;
  border-color: black;
}


@media only screen and (min-width: 768px) {
  .content {
  width: 100%;
  }
  
  nav {
    width: 100%;
  }
}
