body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
  border-style: solid;
  border-radius: .3rem;
  border-color: #00B7FF;
}

.navLinks {
margin-top: 3rem;
}

#navLink1 {
  margin-right: 2rem;
  padding: .5rem;
}

#navLink2 {
  padding: .5rem;
}

.content {
  background-color: #0077bf;
  margin: 3rem;
  padding: 3rem;
}