body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.main {
  background-color: yellow;
  height: 100%;
  margin-bottom: none;
  border-radius: .3rem;
}
a {
  color: black;
  text-decoration: none;
  border-style: solid;
  border-radius: .3rem;
  border-color: black;
  background-color: yellow;
 
}

.navLinks {
  margin: .5rem;
  padding-top: 3rem;
  background-color: white;
  height: 100%;
  border-radius: .3rem;
}

#navLink1 {
margin-bottom: 3rem;
  padding: .5rem;
}

#navLink2 {
  padding: .5rem;
}

#navLink3 {
  padding: .5rem;
}

.homePgLink {
  margin-top: 3rem;
}
.content {
  background-color: white;
  margin: 3rem;
  padding: 3rem;
  border-radius: .3rem;
  
}

#column1 {
  padding: 1rem;
  margin: 1rem;
}

#column3{
  margin: 1rem;
}