<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/219a77197a.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comforter&family=Open+Sans:wght@500&family=Poiret+One&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <nav>
    <i class="fas fa-plane-arrival"></i>
    <a 
    href="/meals/new" id="navLink"
    >Add Meal</a>
    <a 
      href="/flights" id="navLink"
      >View Flights</a>
      <a 
      href="/flights/new" id="navLink"
      > Add Flight</a>
  </nav>
  <div class="content">
  <h1>All Flights</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight#</th>
      </tr>
    </thead>
    <tbody>
      <%# Oh hey, this is an ejs comment! It starts with a # %>
      <% flights.forEach(flight => { %>
        <tr>
          <td id="column1"><%= flight.airline %></td>
          <td id="column3"><%= flight.flightNo %></td>
          <td><a href="/flights/<%= flight._id %>" id="details-link"><i class="fas    fa-circle-info" id="info-icon"></i></a>
          </td>
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
              <i class="fas fa-trash-can" id="delete-flight-icon"></i>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</body>
</html>